
<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN'
        'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'>
{% load crispy_forms_tags %}

<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <title>Form 2</title>
</head>
<body>
    <h1>Form 2</h1>

    <form action='homePage' method='GET'>
        <button type='submit'> Home Page</button>
    </form>
    <br>
    <br>

    Make the selection. <br>
    <br>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit"> Submit </button>
    </form>

    <br>
    <br>

</body>
</html>